.myNameWrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;

    .title {
        font-size: 5rem;
        color: #ffffff;
    }

    .text {
        font-size: 2rem;
        color: #ffffff;
    }

    .iconBox {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .icon {
            font-size: 3rem;
            color: #ffffff;
        }
    }
}