/* components/Header.module.css */
.headerWrap{
    width: 90%;
    height: 8vh;
    background-color: #686666;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.listBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.listBox li{
    width: 10rem;
    height: 100%;
    text-align: center;
    line-height: 1.8;
}

.listBox li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
}